@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
* {
  padding: 0px;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.live-chat {
  position: fixed;
  height: 60px;
  width: 60px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ec7a49;
  border: none;
  right: 20px;
  bottom: 20px;
}

.continair {
  width: 100%;
  background: #fffbf8;
  display: flex;
  flex-direction: column;
}
.padding {
  width: 92%;
  margin: 0px auto;
}

/* nave start */
header {
  position: fixed;
  width: 100%;
  background-color: #fffbf8;
  z-index: 20;
  box-shadow: 0px 0px 2px gray;
}
nav {
  position: relative;
}
.w-div {
  padding: 15px 0px;
  background-color: #fffbf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  padding: 10px 17px;
  border-radius: 7px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  background: #ec7a49;
  color: white;
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
nav ul li {
  cursor: pointer;
}
nav ul li a:hover {
  color: #ec7a49;
}
nav ul li a {
  color: #69758f;
}
.nav-img {
  width: 40px;
  height: 40px;
}

/* nav end */

/* first sec */
.page-1-sec {
  background-color: #fffbf8;
  margin-top: 120px;
}
.page-1 {
  display: flex;
  justify-content: space-between;
  height: 130vh;
  align-items: center;
  flex-direction: row;
}
.page1-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 51%;
  height: 50%;
}
.page1-img-div {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 40%;
}
.page-1-title {
  font-size: 3rem;
  font-family: "Suez One", serif;

  color: #1a2026;
}
.page-1-p,
.p {
  font-size: 20px;
  color: #69758f;
  line-height: 32px;
}
.page-1-title-underlined {
  position: relative;
  font-family: "Suez One", serif;
}
.page-1-title-underlined::after {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-radius: 300%/100px 100px 0 0;
  border-top: 4px solid #ec7a49;
  bottom: -1.6rem;
  content: "";
  height: 1rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.main-page-btn {
  padding: 14px 27px;
}
/* sec 2 */

.page-2-sec {
  background: #ffffff;
}
.page-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 120vh;
}
.page-2-top {
  text-align: center;
  width: 63%;
  margin: 0px auto;
}
.page-2-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.page-2-h1,
.title {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Suez One", serif;
  color: #1a2026;
}
.page-2-bottom-card {
  width: 33%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;
}
.page-2-bottom-card h1 {
  font-family: "Suez One", serif;
  font-size: 23px;
  font-weight: 500;
}
.border {
  border-left: 2px #f7e4d6 dashed;
  border-right: 2px #f8dfcc dashed;
}
.p-2 {
  font-size: 18px;
  line-height: 27px;
  color: #69758f;
}
.page-2-bottom-link,
.link-button {
  color: #ec7a49;
  display: flex;
  gap: 10px;
  align-items: center;
}
/* sec 2 end */
/* sec 3 */
.page-3-sec {
  background-color: #fffbf8;
}
.page-3 {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.page-3-img-lists {
  display: grid;
  margin-top: 40px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}
.page-3-img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 100%;
  background-color: rgb(243 244 246/0.5);
  padding: 1.5rem 2rem;
}
.page-3-img {
  width: fit-content;
  height: 50px;
  object-fit: cover;
}
.page-3-btn {
  margin-top: 20px;
}
/* sec 3 end */
/* sec 4 */
.page-4-sec {
  background-color: #ffffff;
}
.page-4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page-4-img-lists {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  margin-bottom: 10px;
}
.page-4-img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.8rem 2rem;
  background-color: rgb(243 244 246/0.5);
}
.page-4-img {
  width: fit-content;
  height: 50px;
}

/* sec 4 end */
/* sec 5 */

.page-5-sec {
  background-color: #fffbf8;
}
.page-5 {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.page-5-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 40%;
}
.page-5-left-content img {
  width: 50px;
}
.page-5-right-img {
  width: 50%;
}
.btn-primary-v2 {
  padding: 15px 35px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  background: #ec7a49;
  color: white;
  cursor: pointer;
}
.page-5-porfolio-img-list {
  width: 100%;
  display: flex;
  margin: 20px 0px;
}
.page-5-porfolio-img-list div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-5-porfolio-img {
  height: 32px;
  width: fit-content !important;
}
/* sec 5 end */
/* sec 6 */
.page-6-sec {
  background-color: #ffffff;
}
.page-6 {
  height: 140vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.page-6-title {
  margin: 0%;
}
.card-page-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 55%;
}
.page-6-img-bg {
  background: url("https://rapiditeration.com/images/nicolas.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.hidden {
  display: none;
}
.page-6-bottom-text-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Suez One", serif;
}
.page-6-bottom-text-role {
  color: gray;
  font-size: 14px;
}
.page-6-arrow-btn-right,
.page-6-arrow-btn-left {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  margin-top: 40px;
  color: #ec7a49;
}
.page-6-arrow-btn-left {
  color: #69758f67;
}

/* sec 6 end */
/* sec 7  */
.page-7-sec {
  background-color: #fffbf8;
}
.page-7 {
  display: flex;
  height: 120vh;
  justify-content: space-between;
  align-items: center;
}
.page-7-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  width: 40%;
}
.page-7-right-content h1 {
  margin: 0px;
}
/* sec 7 end */
/* conatct-footer */
.conatct-footer-sec {
  background-color: rgb(243 244 246);
}
.conatct-footer h1 {
  margin: 0%;
}
.conatct-footer {
  height: 100vh;
  width: 40%;
  display: flex;
  text-align: center;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-contact-subscrie-inp {
  display: flex;
  position: relative;
  align-items: center;
  width: 544px;
  height: 57px;
}
.footer-contact-subscrie-inp input:hover {
  border: 1px solid #ec7a49;
}
.footer-contact-subscrie-inp input {
  padding: 15px 25px;
  width: 100%;
  outline: none;

  border-radius: 8px;
  height: 100%;
  text-align: left;
  color: #000000;
  border: none;
  font-size: 16px;
  display: flex;
}
.footer-contact-subscrie-inp button {
  padding: 13px 20px;
  position: absolute;
  right: 5px;
}
.footer-contact-privacy {
  text-align: left;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-contact-privacy label {
  font-size: 16px;
  color: rgb(82 95 127);
}
.footer-contact-privacy label a {
  text-decoration: underline;
}

/* conatct-footer end */
/* footer */

.privacy {
  color: #ec7a49;
}
footer {
  background-color: #ffffff;
}
.footer-div {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  flex-direction: column;
}
.footer-list-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.column-footer-content {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  gap: 20px;
}
.column-footer-content h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  font-family: "Suez One", serif;
}
.column-footer-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.column-footer-content ul li {
  color: rgb(142 154 175);
  font-size: 16px;
}
.column-footer-content ul li:hover {
  color: #1a2026;
  cursor: pointer;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}
.footer-bottom-p,
.bottom-footer a {
  font-size: 14px;
  color: rgb(142 154 175);
}
.bottom-footer a {
  text-transform: capitalize;
  cursor: pointer;
}
/* footer end */
/* ///////////////////////////////////////compay page */
.onThisPage {
  color: #ec7a49;
}
.company-page-1 {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.company-page-1-cc-card {
  display: flex;
  justify-content: space-between;
}
.company-page-1-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-page-1-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 42%;
  gap: 20px;
}
.company-page-1-title {
  font-weight: 500;
  line-height: 50px;
}
.company-page-1-bottom-div {
  display: flex;
  gap: 100px;
  align-items: center;
}
.company-page-1-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.company-page-1-bottom h2 {
  font-size: 48px;
  font-weight: 500;
  color: #1a2026;
  padding: 6px;
}

.company-page-1-bottom span {
  color: #69758f;
  padding: 6px;
}

/* sec 2 compant */
.company-page-2-sec {
  background: #ffffff;
}
.company-page-2 {
  display: flex;
  height: 500vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.company-page-2-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.company-page-1-card-bg {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
.company-page-1-card-left {
  width: 40%;
}
.company-page-1-card-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.company-page-1-card-right h1 {
  margin: 0px;
}
.company-page-1-card-bg:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
}
/* sec 3 */
.company-page-3 {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.page-3-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
  align-items: start;
}
.page1-img-div {
  width: 40%;
}
.title-page-3 {
  font-weight: 500;
  line-height: 48px;
}
/* sec 4 */
.company-page-5-sec {
  background-color: #ffffff;
}
.company-page-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250vh;
}
.company-page-5-top {
  margin: 0px auto;
}
.company-page-5-leadership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  gap: 14px;
}
.company-page-5-leadership-card-img {
  width: 176px;
  height: 176px;
  filter: grayscale(100%);
  border-radius: 50%;
}
.company-page-5-leadership-card-img:hover {
  filter: grayscale(0%);
}
.company-page-5-leadership-card p {
  font-size: 16px;
}
.company-page-5-leadership-card-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.title-card-page-5 {
  font-size: 1.125rem;
  font-weight: 700;
}
.company-page-5-leadership-card-icons {
  display: flex;
  gap: 10px;
}
.company-page-5-leadership-card-icons i {
  color: #ec7a49;
  cursor: pointer;
}
/* company end */
.servic-page-1-p {
  line-height: 24px;
}
.service-page-1 {
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sec 2 */
.servic-page-2-sec {
  background-color: #ffffff;
}
.servic-page-2 {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* mm */
.card-bpn {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card-bpn img {
  width: 60px;
  height: 80px;
}
.card-mvp-development-process {
  height: 60vh;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  gap: 20px;
  display: flex;
}
.card-mvp-development-process-content {
  display: flex;
  align-self: flex-end;
  gap: 20px;
  flex-direction: column;
}
.card-mvp-development-process-content p {
  font-size: 20px;
  font-weight: 700;
}
.card-mvp-development-process-content img {
  width: 80px;
  height: 80px;
}

.card-mvp-development-process-content ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.card-mvp-development-process-content ul li {
  color: #69758f;
  font-size: 16px;
}
.w-div button a {
  color: #ffffff;
}

.card-mvp-development-process-content ul li:hover {
  color: #ec7a49;
  cursor: pointer;
}
.left-contact {
  width: 40%;
  height: 100vh;
  border-radius: 10px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #2f3640;
  color: #ffffff;
}
.right-contact {
  width: 50%;
  border-radius: 10px;
  height: 100vh;
  gap: 40px;
  display: flex;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  background: #c7ccd440;
}
.right-contact input {
  width: 95%;
  outline: none;
  background: #fffbf8;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  padding: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.right-contact textarea {
  padding: 10px;
  background: #fffbf8;
  width: 95%;
  height: 200px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  resize: none;
  outline: none;
}
.right-contact button {
  display: flex;
  align-self: flex-end;
}
.right-contact input:hover,
.right-contact input:focus,
.right-contact textarea:hover,
.right-contact textarea:active {
  border: 1px solid #ec7a49;
}

.contact {
  display: flex;
}
.card-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}
.page-2-contact {
  text-align: center;
  margin-top: 200px;
  text-align: center;
  width: 40%;
  height: 50vh;
}
.page-2-contact h1 {
  font-size: 60px;
}
.cards {
  height: 130vh;
}
.top-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-top-left {
  font-size: 20px;
}

.socils {
  margin-top: 20px;
  display: flex;
  align-items: start;
  gap: 10px;
}
.socils label {
  color: rgb(142 154 175);
  font-size: 16px;
  font-weight: 500;
}
.socils i {
  color: rgb(142 154 175);
  font-size: 20px;
}
.socils div {
  display: flex;
  flex-direction: column;
}
.socils a {
  color: #ffffff;
  font-size: 18px;
  padding: 5px;
}
.socils-ttp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icons {
  display: flex;
  align-self: flex-start;
  gap: 20px;
}
.icons i {
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
}
/* blog */
.top-blog-card {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}
.top-blog-card img {
  width: 520px;
  height: 350px;
  border-radius: 10px;
}
.top-blog-card-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 46%;
}
.top-blog-card-right p {
  font-size: 18px;
}
.title-blog {
  font-weight: 500;
  font-size: 25px;
}
.span {
  color: rgb(142 154 175);
  font-size: 14px;
}
.blog-cards {
  height: 580vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blog-p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-card img {
  height: 240px;
  border-radius: 10px;
}
.card-blog-lists {
  display: grid;
  padding: 0px 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.blog-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog-card h3 {
  font-size: 18px;
  font-weight: 500;
}
.blog-p {
  font-size: 16px;
}
.padding-v2 {
  width: 85%;
  margin: 0px auto;
}
/* service */
.ser-sec {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  height: 170vh;
}
/*  */
.services-3-setopm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/*  */
.sec-4-ser {
  height: 200vh;
  background-color: #ffffff;
}
.secfft {
  display: flex;
  align-items: center;
  gap: 50px;
}
.tilte-123 {
  font-size: 20px;
  font-weight: bold;
}
.card-123 {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px 50px;
  flex-direction: column;
  text-align: start;
  width: 100%;
  height: 300px;
  gap: 10px;
}
.card-123 div {
  width: 150px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 50%;
}
.page-ser-123-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 180vh;
  position: relative;
}
.line {
  position: absolute;
  right: 33%;
  bottom: 55%;
}
.line1 {
  position: absolute;
  right: 33%;
  bottom: 20%;
}
.line-11 {
  position: absolute;
  left: 23%;
  bottom: 25%;
}
.line-12 {
  position: absolute;
  left: 23%;
  bottom: 55%;
}
